name: Deploy to WSL Nginx

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Nginx
        run: |
          sudo cp index.html /var/www/cloud-cicd/index.html
          sudo nginx -t
          sudo systemctl reload nginx
